body {
    text-align: center;
    margin: 0;
    background-color: white;
}

#section1 {}
#section2 {}


.sp {
    text-align: left;
    padding: 150px;
}

h1 {
    font-family: monospace;
    color: #1618a6;
    font-size: 500%
    
}

h4 {
    font-family: monospace;
    color: white;
    font-size: 300%
}

p {
    font-family: monospace;
    padding: 5vw; /* Keep the responsive padding */
    font-size: 4vw; /* Responsive font size */
    margin-top: 30vh; /* Increased top margin to push content down */
    margin-bottom: 30vh;
    color: #1618a6;
}

table {
    float:center;
    position:relative;
}


/* navigation bar*/

.menu {
  z-index: 100;
  list-style-type: none;
  padding: 10px;
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top:0;
  background-color: white;
}

.menu a {
  float: right;
  display: block;
  color: #1618a6;
  text-align: center;
  font-family: monospace;
  font-size: 2em;
  padding: 14px 40px;
  text-decoration: none;
  border-radius: 50px;
  transition: 0.5s;
}

.menu a:hover:not(.active) {
  background-color: #1618a6;
  color: white;
}

/* space */

.space {
    padding: 50px
}


/* typing animation */

.wrapper {
  height: 10vh;
  display: grid;
  place-items: left;
}

.typing-demo {
    font-size: 300%;
    color: #1618a6;
    width: 26ch;
    animation: typing 4s steps(26), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid;
    font-family: monospace;
    font-size: 4em;
}

@keyframes typing {
  from {width: 0}
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

/* About us section */

.info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 50px;
    padding: 100px;
    justify-content: center;
}

.box {
    padding: 1vw;
    margin-bottom: 2vw;
    background-color: #1618a6;
    font-family: monospace;
    color: white;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    transition: background-color 0.5s, color 0.5s;
    width: auto;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.box:hover:not(.active) {
  background-color: black;
  color:#ddd;
  text-align:center;
  
}

.box h3 a{
    color:white;
}

.tutor {
    background-color: orange;
}

/* Founders section */

.founders-section {
    padding: 30px;
    text-align: center;
}

.founders {
    display: flex;
    justify-content: center;
    padding: 100px;
    -webkit-column-gap: 200px;
}

.founder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.founder-photo {
    width: 200px;
    height: 265px;
    border-radius: 15%;
    margin-bottom: 10px;
}

.founder-name {
    color: #1618a6;
    font-size: 1.5em;
}

.founder-email {
    color: #1618a6;
    font-size: 1em;
}

/* Whatsapp section*/

.whatsapp-section {
    position: relative;
    padding: 30px;
    text-align: center;
    margin-top: 20px;
}

.whatsapp-section h6 {
    color: #1618a6;
    font-family: monospace;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.whatsapp-join-button {
    display: inline-block;
    background-color: #25D366;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    font-family: monospace;
    transition: background-color 0.3s;
}

.whatsapp-join-button:hover {
    background-color: #128C7E;
}

.form-join-button {
    display: inline-block;
    background-color: #9932CC;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    font-family: monospace;
    transition: background-color 0.3s;
}

.form-join-button:hover {
    background-color: #9400D3;
}


.signature {
    position: fixed;
    bottom: -60px;
    right: -55px;
    text-align: right;
    font-family: monospace;
    color: #1618a6;
    z-index: 1000;
}

.signature p {
    margin: 0;
    font-size: 1em;
}

.signature span {
    font-size: 1em;
}


@media only screen and (max-width: 768px) {
    /* Hide top navigation buttons */
    .menu li {
        display: none;
    }

    /* Reduce padding and margins to space things out */
    .sp, p {
        padding: 5vw;
    }
    
    p {
        font-size: 6vw;
        margin-top: 55vh;
    }
    

    .space {
        padding: 10px;
    }
    
    .wrapper {
      height: 4vh;
    }

    .typing-demo {
        font-size: 5vw;
        width: auto;
        margin: 0 auto;
        animation: typing 4s steps(26), blink .5s step-end infinite alternate;
        border-right: 0.1em solid;
    }

    @keyframes typing {
      from { width: 0; }
      to { width: 26ch; }
    }

    .info {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); /* Adjust for tighter fit */
    }
    
    .box {
        padding: 5vw;
        width: 100%;
        margin: 0 auto;
        height: auto;
    }
    
    .box h3{
        font-size: 1em;
    }

    .founders {
        padding: 0;
        -webkit-column-gap: 30px;
        column-gap: 30px;
    }

    .founder-photo {
        width: 150px;
        height: 200px;
    }

    .founder-name, .founder-email {
        font-size: 0.7em;
    }

    .signature {
        position: relative;
        bottom: 0;
        right: 0;
        text-align: center;
        font-size: 0.7em;
    }
}
