<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="../style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
      <style>
          html {
            scroll-behavior: smooth;
          }
      </style>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>IE tutoring</title>
        <link rel="icon" type="image/x-icon" href="../../photos/favicon.png">
        
    </head>

    <body>

        <div class='menu menu-about'>
            <li><a href="../index.html" style="float: left"><i class="fa fa-chevron-left"></i></a></li>
            <li><a href="../index.html#Join">Join</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="tutors.html">Tutors</a></li>
        </div>

        <div class='space' style="padding: 30px;"></div>

        <div class="about-intro">
            <h1>About us</h1>
            <p>An idea that came about after a casual dinner conversation, I.E. tutoring was launched a year later in March 2024. We are two IE students who decided to build a community around students helping each other. Through our tailored and self-built platform, we enable the connection between students who are seeking help with those providing it. We strive for quality of service for all those involved.</p>
        </div>
        
        <div class="info">
            <div class="box">
                <h2>Our Mission</h2>
                <p>At IE Tutoring, we are dedicated to empowering students by providing comprehensive and personalized educational support. We want to unlock your full potential through expert tutoring in so many courses.</p>
            </div>
            
            <div class='box'>
                <h2>Why Choose Us</h2>
                <p>We're IE students just like you, who just love a few certain subjects and want to help others throughout their years at uni, so you can trust us :) We're also cheap and flexible. Perfect for students</p>
            </div>
            
            <div class='box tutor'>
                <h2>Become a Tutor</h2>
                <p>Are you a subject expert with a passion for teaching? We're looking for talented tutors to join our team and make a difference for students. Reach out to us by filling this <a href="https://forms.gle/SznU6GJKBovjSWS9A" target="_blank">form</a></p>
            </div>
            
            <div class="box">
                <h2>Join us</h2>
                <p>So if you require tutoring then join us, and get the help you want from our tutors. Join the WhatsApp group below, and we will assign you a private tutor! For any questions you can find us at tutoring.ieu@gmail.com</p>
            </div>
        </div>

        <div class="space"></div>

        <div class="founders-section">
            <h1 style="text-align: left; font-size: 300%; color:black;">Founders</h1>

            <div class="founders">
                <div class="founder">
                    <img src="../../photos/baptiste.jpg" alt="Baptiste Etroy" class="founder-photo">
                    <h3 class="founder-name">Baptiste</h3>
                    <h6 class="founder-number">+34 607 18 48 62</h6>
                </div>

                <div class="founder">
                    <img src="../../photos/vrushab.png" alt="Vrushab Shekhar" class="founder-photo">
                    <h3 class="founder-name">Vrushab</h3>
                    <h6 class="founder-number">+34 699 22 25 43</h6>
                </div>
            </div>
        </div>

        <div class="signature">
            <p>Baptiste Etroy <span>© 2024</span></p>
        </div>

        <script src="../java.js"></script>
    </body>

</html>
