<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="../style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
      <style>
          html {
            scroll-behavior: smooth;
          }
      </style>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>IE tutoring</title>
        <link rel="icon" type="image/x-icon" href="../../photos/favicon.png">
        
    </head>

    <body>
        
       <div class='menu'>
            <li><a href="../index.html" style="float: left"><i class="fa fa-chevron-left"></i></a></li>
            <li><a href="../index.html#Join">Join</a></li>
            <li><a href="about.html">About us</a></li>
            <li><a href="services.html">Services</a></li>
        </div>
            
        <div class='space'></div>
            
        <div class='sp'>
            <h1>Become a Tutor</h1>
            <div style="display: inline;">
                <h4 style="color:orange; display: inline;">We are hiring! Just fill the form</h4>
                <a href="https://forms.gle/a5YJBBRAnxH36nMQ8" class="form-join-button" target="_blank"
                    style="background-color: orange; margin-left: 30px; vertical-align:bottom;">Form</a>
            </div>
        </div>

        <div class="signature">
            <p>Baptiste Etroy <span>© 2024</span></p>
        </div>

        <script src="../java.js"></script>
    </body>

</html>
